* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

h1 {
  margin: 1rem 0;
}

section {
  border-bottom: 1px solid #000;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  min-height: 300px;
}

.row {
  width: 100%;
  min-width: 10px;
  padding: 1rem 0;
  min-height: 300px;
  display: flex;
  justify-content: center; /*Platz auf der x-Achse/horizontale*/
  align-items: stretch; /*Platz auf der y-Achse/vertikale*/
  flex-direction: row;
}

.col {
  min-width: 20px;
  min-height: 20px;
  margin: 10px;
  width: 20%;
}

.trolley-grey {
  background: #7d7c84;
  order: 1;
}

.sea-green {
  background: #2d93ad;
  order: 3;
}

.middle-red {
  background: #de8f6e;
}

.black {
  background: #000;
}

.orange {
  background: orange;
  order: 2;
}

.olive {
  background: olive;
}
